<div class="grey lighten-3">
    <div class="container explore-bar">
        <div class="row">
            <div class="col s12"><span class="flow-text">
                <p>
                    <h5>Welcome Back, <a href="profile/{{user.username}}">{{user.username}}</a>!</h5>
                    <h6>Explore Your Next Rally or Riot</h6></span>
                </p>
            </div>
            <div class="col s12">
                <!-- Dropdown Trigger -->
                <a class='dropdown-button btn grey' data-beloworigin="true" href='#' data-activates='categories'>Category</a>
                <ul id='categories' class='dropdown-content'>
                    <li><a href="#!">one</a></li>
                    <li><a href="#!">two</a></li>
                    <li><a href="#!">three</a></li>
                    <li><a href="#!"><i class="material-icons">view_module</i>four</a></li>
                    <li><a href="#!"><i class="material-icons">cloud</i>five</a></li>
                </ul>

                <a id="beaconCreate" class="btn-floating btn-medium waves-effect waves-light grey"><i class="material-icons">settings_remote</i></a>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div id="beaconForm" style="display:none">
        <form>
            <div class="row">
                <div class="input-field col s6">
                    <input placeholder="Enter a creative title" id="name" type="text" class="validate">
                    <label for="name">Beacon Name</label>
                </div>

                <div class="input-field col s6">
                    <input placeholder="What are you doing here?" id="activity" type="text" class="validate">
                    <label for="activity">Activity</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s6">
                    <select id="category" name="category">
                        <option data-icon="images/sample-1.jpg" class="circle" value="concert">Concerts</option>
                        <option data-icon="images/sample-1.jpg" class="circle" value="exercise">Exercising</option>
                        <option data-icon="images/sample-1.jpg" class="circle" value="food">Eating</option>
                        <option data-icon="images/sample-1.jpg" class="circle" value="party">Parties</option>
                        <option data-icon="images/sample-1.jpg" class="circle" value="politcal">Political</option>
                        <option data-icon="images/sample-1.jpg" class="circle" value="social">Social</option>
                        <option data-icon="images/sample-1.jpg" class="circle" value="study">Studying</option>
                        <option data-icon="images/sample-1.jpg" class="circle" value="uncategorized" selected>Uncategorized</option>
                        <option data-icon="images/sample-1.jpg" class="circle" value="yardsale">Yard Sale</option>
                    </select>
                    <label for="category">Category</label>
                </div>

                <!-- TODO: Beacon Tags -->
                <div class="input-field col s6">
                    <input placeholder="Yoga, Movies, Tailgating" id="tags" type="text" class="validate">
                    <label for="tags">Tags (seperate by comma)</label>
                </div>
            </div>

            <!-- TODO: Beacon Demographics <div class="row">
                <div class="input-field col s6">
                    <div id="ages"></div>
                    <label for="ages">Age Group</label>
                </div>
                <div class="input-field col s6">
                    <input type="checkbox" class="filled-in" id="male" value="male"/>
                    <label for="male">Allow Men</label>
                    <input type="checkbox" class="filled-in" id="female" value="female"/>
                    <label for="female">Allow Women</label>
                </div>
            </div> -->
            <button class="btn waves-effect waves-light grey" id="beaconSubmit" type="submit">Create</button>
        </form>
    </div>

    <div class="beacons">
        <div class="row">
            <div class="col s12 m7 l7">
                {{#each beacon}}
                    <div class="card">
                        <div class="card-content">
                            <span class="card-title">{{this.name}}</span>
                            <p>{{this.activity}}</p>
                        </div>
                        <div class="card-action">
                            <a class="black-text" href="#"><img class="vote-ra" src="/assets/img/icon-rally.svg">Rally</a>
                            <a class="black-text" href="#"><img class="vote-ri" src="/assets/img/icon-riot.svg">Riot</a>
                        </div>
                    </div>
                {{/each}}
            </div>

            {{!-- <div class="col s12 m4 red">
                COLUMN 2
            </div> --}}

            <div class="col s12 m5 l5 blue">
                GEO-MAP<BR>
                WILL GO HERE
            </div>
        </div>
    </div>
</div>

<script src="../assets/js/beacon.js"></script>
    <script>
    $('#beaconCreate').on('click', function(event){
        $('#beaconForm').toggle(400);
    });
    $('document').ready(function() {
        $('select').material_select();
    });
</script>
