<div class="container">

  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <center>
        <img src="assets/img/icon-rally2.svg" width="35%">
        <img src="assets/img/icon-riot.svg" width="35%">
      </center>

      <div class="row center">
        <h5 class="header col s12 light">A fun new way to discover local pop-up events!</h5>
      </div>
      <div class="row center">
        <a href="/signup" id="download-button" class="btn-large waves-effect waves-light grey">Get Started</a>
      </div>
      <br><br>

    </div>
  </div>

</div>

  {{!-- PARALLAX TESTING --}}

<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center white-text" style="text-shadow: 2px 2px black;">Engage Locally</h1>
          <div class="row center">
            <h5 class="header col s12 light" style="text-shadow: 1px 1px black;">Find new friends by connecting with locals in real life</h5>
          </div>
        <div class="row center">
        </div>
        <br><br>

      </div>
    </div>
  <div class="parallax"><img src="assets/img/stock01.jpeg" alt="Unsplashed background img 1"></div>
</div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Explore</h5>

            <p class="light">Find or create a local 24 hour pop-up event. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center red-text"><i class="fa fa-users" aria-hidden="true"></i></h2>
            <h5 class="center">Mob Up</h5>

            <p class="light">The more the merrier. Start a rally and get everyone in your local area involved.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Rally for the Truth</h5>

            <p class="light">Rally (like) or Riot (dislike) to let other users know how the event is before they get there.</p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light" style="text-shadow: 1px 1px black;">"I used Rally or Riot to find a bunch of new friends when I moved to a new city!" <br> - Random User</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="assets/img/stock02.jpeg" alt="Unsplashed background img 2"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Our Mission</h4>
          <p class="left-align light">Rally or Riot was created to get you off of your phone and into the real world. Send out a Beacon and see who responds. You never know who you might meet!</p>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">"I always use Rally or Riot when I'm traveling abroad. It's a great way to get to know the locals, and find awesome spots to eat and party!" <br> - Randomest User</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="assets/img/stock04.jpeg" alt="Unsplashed background img 3"></div>
  </div>

</div>

<script>
  (function($){
  $(function(){

    $('.parallax').parallax();

  }); // end of document ready
})(jQuery); // end of jQuery name space
</script>