<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>

        <h1 class="header center white-text" style="text-shadow: 2px 2px black;">Engage Locally</h1>
          <div class="row center">
            <h5 class="header col s12 light" style="text-shadow: 1px 1px black;">A fun new way to discover local pop-up events and friends NOW!</h5>
          </div>
        <div class="row center">
        <a href="/signup" id="download-button" class="btn-large waves-effect waves-light red">Get Started</a>
      </div>
      <br><br>
        <br><br>

      </div>
    </div>
  <div class="parallax"><img src="assets/img/stock01.jpeg" alt="Unsplashed background img 1"></div>
</div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center blue-text"><i class="fa fa-map-o" aria-hidden="true"></i></h2>
            <h5 class="center">Explore</h5>

            <p class="light">Discover or create a local pop-up event. Events are only good for up to 24 hours! So make sure the event is worthwhile!</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center red-text"><i class="fa fa-users" aria-hidden="true"></i></h2>
            <h5 class="center">Mob Up</h5>

            <p class="light">The more the merrier. Start a rally and get everyone in your local area involved.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center blue-text"><i class="fa fa-hand-peace-o" aria-hidden="true"></i></h2>
            <h5 class="center">Rally for the Truth</h5>

            <p class="light">Rally (like) or Riot (dislike) to let other users know how the event is before they get there.</p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light" style="text-shadow: 1px 1px black;">"I used Rally or Riot to find a bunch of new friends when I moved to a new city!" <br> - Travo100</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="assets/img/stock02.jpeg" alt="Unsplashed background img 2"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Our Mission</h4>
          <p class="left-align light center">Rally or Riot was created to get you off of your phone and into the real world. <br>Send out a Beacon and see who responds. You never know who you might meet!</p>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">"I always use Rally or Riot when I'm traveling abroad. It's a great way to get to know the locals, and find awesome spots to eat and party!" <br> - Lord Barry</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="assets/img/stock07.jpeg" alt="Unsplashed background img 3"></div>
  </div>

</div>

<script>
  (function($){
  $(function(){

    $('.parallax').parallax();

  }); // end of document ready
})(jQuery); // end of jQuery name space
</script>