<div class="container">
    <div class="row">

        <div class="col s12 m1 l2">
            {{!--EMPTY CONTAINER--}}
        </div>

        <div class="col s12 m10 l8">
            <p>
                <form id="signin" name="signin" method="post" action="signin">
                    <label for="email">Email Address</label>
                    <input class="text" name="email" type="text" />

                    <label for="password">Password</label>
                    <input name="password" type="password" />

                    <input class="btn waves-effect waves-light grey" type="submit" value="Sign In" />
                </form>
            </p>
        </div>

        <div class="col s12 m1 l2">
            {{!-- EMPTY CONTAINER --}}
        </div>

    </div>
</div>

<script>
    $(document).ready(function () {
        $('select').material_select();
    });

</script>